.homeCats{
    width: 100%;
    height:90px;
    text-align: center;
}

.homeCats ul{
    width: 90%;
    height: 45px;
    margin:10px auto;
}

.homeCats ul li{
    width:20%;
    line-height:45px;
    border: 1px #fe4800 solid;
    border-radius: 4px;
    float:left;
    margin:5px;
}